.container {
  width: 1020px;
  height: 1700px;
  border-radius: 12px;
  border: 1px solid #dfe2e9;
  overflow: auto;
  height: 1600px;
  scrollbar-color: rgb(126, 7, 245) green;
  scrollbar-width:2px;
  scrollbar-width: thin;
   
  
  
}


.mostly-customized-scrollbar::-webkit-scrollbar {
    width: 2px;
    height: 8px;
    background-color: rgb(255, 0, 0); /* or add it to the track */
  }


.card_1 {
  width: 292px;
  height: 292px;
  border: 1px thin #a0a096;
  border-radius: 12px;
}
.main_container {
  background-color: white;
  height: 3621px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card_container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  flex-wrap: wrap;
}
.all {
  margin-left: 47px;
  font-size: 22px;
  font-weight: 700;
}

@media only screen and (max-width: 1366px) {
  .container {
    width: 946px;
    border: 1 px thin #dfe2e9;
    scrollbar-width: thin;
    scrollbar-width:1px;
  }
  .card_1 {
    width: 258px;
    height: 258px;
    background-color: red;
  }
  .card_container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
  }
  .photo_div {
    width: 258px;
  }
}
