.container {
  width: 324px;
  height: 23rem;
  overflow: auto;
  height: 1600px;
  scrollbar-color: rgb(126, 7, 245) green;
  scrollbar-width: thin;
}
.cont {
  height: 3.5rem;
  width: 324px;
  display: flex;
  align-items: center;
}
.cont:hover {
  background-color: #f3f3f3;
  border-radius: 8px;
}
.words {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 8px;
}
.word {
  margin-left: 16px;
}
.paragraph_c{
    font-size: 14px;
    color: #B9B9B9;
    ;
}
.input{
    outline-style: none !important;
    border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-style: hidden;
}

@media only screen and (max-width: 1366px) {
  .container {
    width: 250px !important;
    height: 14rem;
  }
  .cont {
    height: 3.5rem;
    width: 250px;
    display: flex;
    align-items: center;
  }
}
