
.calendar header {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
  }
  
  .calendar header button,
  .calendar header select {
    margin: 0 17px;
    background-color: white;
    border: none;
  }

  .l_arrow{
      margin-top: 3.5px;
  }
  
  .calendar table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    margin: auto;
  }
  
  .calendar th {
    vertical-align: middle;
    text-align: center;
    border-bottom:1px solid  #DFE2E9 ;
    color: #B9B9B9;
    font-size: 11px;
  }
  
  .calendar .day {
    padding: 4px 8px;
    vertical-align: middle;
    text-align: center;
    border: 2px solid transparent;
  }
  
  .calendar .day:hover {
    background-color:  #131315;
    color: white;
    border-radius: 4px;
    
    ;
    cursor: pointer;
  }
  
  .calendar .day.selected {
    border: 2px solid #131315;
  }
  
  .calendar .day.today {
    background-color: #131315;
    color: white;
    border-radius: 4px;
  }
  
  .calendar .day.today:hover {
    /* background-color: #131315; */
    outline: none;
  }
  
  .calendar .day.today.selected {
    border: 2px solid lightgray;
  }
  
  
  
  
  
  