body {
  margin: 0;
 font-family: Helvetica Now Display;
 -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.DayPicker-wrapper {
  outline: none;
}

